<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004688911997-65g0p2nehc7fajpk7d7c9imtaqv5p68u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004688911997-65g0p2nehc7fajpk7d7c9imtaqv5p68u</string>
	<key>API_KEY</key>
	<string>AIzaSyB9sBGtbjGqayi8hpYMLu5INy-gMMtDjvU</string>
	<key>GCM_SENDER_ID</key>
	<string>1004688911997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.luci.demoFlutterFcm</string>
	<key>PROJECT_ID</key>
	<string>messaging-test-eaca0</string>
	<key>STORAGE_BUCKET</key>
	<string>messaging-test-eaca0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004688911997:ios:fb353ea00f49296c47cb14</string>
	<key>DATABASE_URL</key>
	<string>https://messaging-test-eaca0.firebaseio.com</string>
</dict>
</plist>